* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}


.container-navbar {
    color : black;
    display : flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
}   

.container {
    justify-content: space-evenly;
}

.container-category {
    display: flex;
    justify-content: space-evenly;
}

.anyClass {
    height:400px;
    overflow-y: scroll;
}

.black {
    background-color: #34495e;
    margin : 1em;
    padding : 10px;
    justify-content: space-evenly;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin : 0em;
}

.texr-center {
    display: flex;
}

