*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #ffffff;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;


}

nav .links li{
    display: inline;
}

nav .links {
    display: flex;
    align-items: center;
}

nav .links ul{
    list-style: none;
}

nav .links a{
    text-decoration: none;
    font-size: 1em;
    color: black;
    margin-left: 25px;
}

nav .links p{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    margin-left: 25px;
}

nav .links .icons a{
    font-size: 20px;
}

.row{
    padding: 20px;
}

.text-white{
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}


.content-tab{
    background-color: #80848c;
    height: 100vh;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login{
    background-color: #00b386;
    text-align: center;
}

.container .column{
    padding-top: 20px;
    height: 100vh;
    text-align: center;
    width: 70%;
    padding-left: 8cm;
}

.row-7 p{
    margin-top: 5px;
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
    font-weight: bold;
}

.row-7 .form{
    text-align: center;
}

.btn1{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #17A2B8;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 5px;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: #17A2B8;
}

#input-email{
    width: 100%;;
    height: 30px;
}

#input-password{
    width: 100%;;
    height: 30px;
}

#input-username{
    width: 100%;;
    height: 30px;
}

.row-6 p{
    font-size: 24px;
}

.card-body ul li {
    color: black;
    font-size: 14px;
    display: inline;
    margin-left: 25px;
}

.card-body ul li a{
    color: black
}

h6{
    font-weight: bold;
    text-align: left;
    font-size: large;
}




